Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: 
Introduction to Python
Introduction to SQL
Libraries of Data Science
Machine learning models.
Introduction to Jupyter notebook

Some of the popular languages that Data Scientists use are:
S/N   | LANGUAGE
------|---------
1     | Python
2     | C++
3     | Java

Some of the commonly used libraries used by Data Scientists include:
S/N   | LIBRARIES
------|----------
1    | Pandas
2    | Numpy
3    | Scipy

Data Science Tools |
R-studio           |
Apache Spark       |
Tensorflow         |

Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers

A = (3*4)+5
print(A)

17

In [8]:
# This will convert 200 minutes to hours by diving by 60.

print(200/60 , "hrs")

3.3333333333333335 hrs

Author:
Atueyi Chinedu